.wrapper
	.col-md-8.col-md-offset-2.col-xs-12
		.panel.panel-default
			.panel-body
				.page
					-#Content body. Lists the articles in a ranking order set by the user
					%h3 You change what you like
					- @list.each do |item| 
						%hr
						%h4
							= item.name
							%small
								#{@rating[item.rank]}
								-if item.read 
									#{t(".read")}
								-else 
									#{t(".not_read")}
							.pull-right
								%small
									= time_ago_in_words(item.updated_at) 
									ago
					%hr
				
			-#footer
			.panel-footer
				.row
					.col-md-12
						= simple_form_for :set, {url: article_rank_path, :method=>:patch } do |f|
							.btn-group.pull-left
								= f.select :id, options_for_select([["Article 1", 1], ["Article 2", 2],["Article 3", 3],["Article 4", 4],["Article 5", 5]]), {}, class: "form-control"
							.btn-group.pull-left
								= f.select :rank, options_for_select([["Very boring", 1], ["Okay", 2],["Good read", 3],["Interesting", 4],["Super Interesting", 5]]), {}, class: "form-control"
							.btn-group.pull-right
								= f.button :submit, t(".submit")
			