.wrapper
	.col-md-8.col-md-offset-2.col-xs-12
		.panel.panel-default
			.panel-body
				.page
					-#Content body. allows the user to edit a review
					%h1= @article["title"]
					%h3= @article["body"][0]["model"]["text"]
					-#Changed the default size so that the image is responsive
					%img{:src=>"#{@url1}", :width=>"100%", :alt=> "#{:@altText1}"}
					%p
					-#Changed the default size so that the image is responsive
					%img{:src=>"#{@url2}", :width=>"100%", :alt=> "#{:@altText2}"}
					%p
					%p= @article["body"][3]["model"]["text"]
			-#footer
			.panel-footer
				.row
					.col-md-12
						.btn-group.pull-left
							%h4
								#{t(".article")}
						.btn-group.pull-right
							= button_to @button, {:action=>"updateRead", :controller=>"rankings", :name=>"Article 5"} , :method=>:patch, class: "btn btn-default"

