.wrapper
	.col-md-8.col-md-offset-2.col-xs-12
		.panel.panel-default
			.panel-body
				.page
					-#Content body. allows the user to edit a review
					%h1= @article["title"]
					%h3= @article["body"][0]["model"]["text"]
					%p= @article["body"][1]["model"]["text"]
					%ul
						%li= @article["body"][2]["model"]["items"][0]
						%li= @article["body"][2]["model"]["items"][1]
						%li= @article["body"][2]["model"]["items"][2]
						%li= @article["body"][2]["model"]["items"][3]
					%p= @article["body"][3]["model"]["text"]
					%ul
						%li= @article["body"][4]["model"]["items"][0]
						%li= @article["body"][4]["model"]["items"][1]
					%p= @article["body"][4]["model"]["text"]
			-#footer
			.panel-footer
				.row
					.col-md-12
						.btn-group.pull-right
							= button_to @button, {:action=>"updateRead", :controller=>"rankings", :id=>4} , :method=>:patch, class: "btn btn-default"
